// BODY //
@use 'var' as var;

body {
  font-family: 'english';
  font-size: 1rem;
  background-color: var.$black90;
  background-image: url(../assets/img/background.webp);
  background-position: top, left;
  background-size: cover;
  background-attachment: fixed;
  color: var.$white;
}